/* 

Color pallete:
--------------
calculator-black: #212121;
calculator-white: #fff;

calculator-grey-one: #373737;
calculator-grey-two: #909090;
calculator-grey-three: #c0c0c0; (192, 192, 192)

calculator-lilac: #bdb2fa;
calculator-purple: #7a67f3;

*/

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 700

.roboto-mono-<uniquifier> {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

@font-face {
    font-family: 'Roboto Mono Regular';
    src: url('assets/fonts/RobotoMono-Regular.woff2') format('woff2');
}

* {
    font-family: 'Roboto Mono Regular';
}

body {
    padding-top: 50px;
}

.hide {
    display: none;
}

#button-container {
    display: flex;
    flex-direction: row;
}

.button-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#calculator {
    width: 276px;
    height: 645px;
    border-radius: 24px;
    border: 24px solid #373737;
    margin: auto;
    background-color: white;
}

#calculator-inner-container {
    width: 100%;
    height: 100%;
    padding: 12px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

#button-container {
    justify-content: center;
}

button {
    /* Remove button default styles */
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;

    margin: 6px;
    font-size: 26px;
    border-radius: 8px;

    /* box-shadow: */
    box-shadow: 0px 1px 1px 1px rgba(192,192,192,1);
    -webkit-box-shadow: 0px 1px 1px 1px rgba(192,192,192,1);
    -moz-box-shadow: 0px 1px 1px 1px rgba(192,192,192,1);
}

button:active{
    opacity: 0.8;
}

button.square {
    width: 54px;
    height: 54px;
}

button.rectangle {
    width: 54px;
    height: 124px;
}

#button-history, #button-delete {
    position: relative;
}

#button-history::after, #button-delete::after {
    position: absolute;
    width: 30px;
}

#button-history::after {
    content: url('assets/images/clock-rotate-left-solid.svg');
}

#button-delete::after {
    content: url('assets/images/delete-left-solid.svg');
}

[data-type="number"] {
    background-color: #fff;
    color: #7a67f3;
}

[data-type="operation"] {
    background-color: #bdb2fa;
    color: #fff;
}

[data-type="operation"].dark {
    background-color: #7a67f3;
}

[data-type="operation"] {
    color: #fff;
}

